/* Estilo general para toda la página */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eceff1;
  color: #333;
}

/* Estilo para los contenedores principales */
#productos,
.carrito-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Estilo para los títulos h1 */
.titulo-animado {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #673ab7;
  animation: fadeIn 2s ease-in-out infinite alternate;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Animación del título */
@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Botones generales */
button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #512da8;
  transform: scale(1.05);
}

/* Carrito */
.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f3f3f5;
}

.carrito-producto h3 {
  color: #5e35b1;
}

.total-carrito {
  font-size: 1.5rem;
  font-weight: bold;
  color: #673ab7;
}

